version: "3.9"
services:
  app:
    build:
      context: .
      target: dev
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/postgres
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    env_file:
      - .env
    command: sh -c "npm ci && npm run dev"
    ports:
      - "5001:5000"
    volumes:
      - .:/app
      - app_node_modules:/app/node_modules
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
  app_node_modules:
